<!--
a:hover, a:active{color: #FF4400;}
a			{ text-decoration: none; color: #000000 }
a:hover			{ text-decoration: underline }
body			{ scrollbar-base-color: #F8F8F8; scrollbar-arrow-color: #469FD7; font-size: 14px; background-color: #FFFFFF }
table			{ font: 14px Tahoma, Verdana; color: #000000 }
img {border:0;}
-->